/* .dagre * {
  box-sizing: border-box;
} */
.dagre .cluster rect {
  fill: #ddd;
}
/* .dagre .cluster .node-label {
    font-family: Arial, sans-serif;
    width: auto;
  } */
.dagre .cluster h3 {
  margin: 0;
  padding-top: 3px;
  font-size: 14px;
}
.dagre .cluster.level-0 rect {
  fill: #dadada;
}
.dagre .cluster.level-1 rect {
  fill: #bababa;
}
.dagre .cluster.level-2 rect {
  fill: #aaa;
}
.dagre text {
  font-weight: 300;
  font-family: Arial, sans-serf;
  font-size: 14px;
  color: #000;
}
.dagre g h3 {
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #000;
}
.dagre g p {
  font-family: Arial, sans-serif;
  font-weight: normal;
}
.dagre .node.question rect {
  stroke-dasharray: 5 2;
}
.dagre .node.reference rect {
  stroke-dasharray: 2 2;
}
.dagre .node.excerpt rect,
.dagre .node.text-artifact rect {
  stroke-dasharray: 7 3;
  fill-opacity: 0.92;
}
.dagre .edgePath {
  stroke: #333;
  stroke-width: 1.5px;
}
.dagre .edgePath marker path {
  stroke-width: 0;
  stroke: none;
}
.dagre .edgePath.attack {
  stroke: red;
}
.dagre .edgePath.attack marker {
  fill: red;
  stroke: none;
}
.dagre .edgePath.contrary {
  stroke: red;
}
.dagre .edgePath.contrary marker {
  fill: red;
  stroke: none;
}
.dagre .edgePath.contradictory {
  stroke: red;
}
.dagre .edgePath.contradictory marker {
  fill: red;
  stroke: none;
}

.dagre .edgePath.support {
  stroke: green;
}
.dagre .edgePath.support marker {
  fill: green;
  stroke: none;
}
.dagre .edgePath.entails {
  stroke: green;
}
.dagre .edgePath.entails marker {
  fill: green;
  stroke: none;
}
.dagre .edgePath.undercut {
  stroke: purple;
}
.dagre .edgePath.undercut marker {
  fill: purple;
  stroke: none;
}
.dagre .edgePath.implies,
.dagre .edgePath.entails {
  stroke: #9ccc65;
}
.dagre .edgePath.implies marker,
.dagre .edgePath.entails marker {
  fill: #9ccc65;
  stroke: none;
}
.dagre .edgePath.justifies,
.dagre .edgePath.support {
  stroke: #00a651;
}
.dagre .edgePath.justifies marker,
.dagre .edgePath.support marker {
  fill: #00a651;
  stroke: none;
}
.dagre .edgePath.is-presupposed-by {
  stroke: #d1a100;
}
.dagre .edgePath.is-presupposed-by marker {
  fill: #d1a100;
  stroke: none;
}
.dagre .edgePath.specifies {
  stroke: #1aa89a;
}
.dagre .edgePath.specifies marker {
  fill: #1aa89a;
  stroke: none;
}
.dagre .edgePath.is-example-for {
  stroke: #4caf50;
  stroke-dasharray: 4 2;
}
.dagre .edgePath.is-example-for marker {
  fill: #4caf50;
  stroke: none;
}
.dagre .edgePath.questions {
  stroke: #8d4f39;
  stroke-dasharray: 4 2;
}
.dagre .edgePath.questions marker {
  fill: #8d4f39;
  stroke: none;
}
.dagre .edgePath.answers {
  stroke: #fb8c00;
}
.dagre .edgePath.answers marker {
  fill: #fb8c00;
  stroke: none;
}
.dagre .edgePath.is-cited-by {
  stroke: #7e57c2;
  stroke-dasharray: 4 2;
}
.dagre .edgePath.is-cited-by marker {
  fill: #7e57c2;
  stroke: none;
}
.dagre .edgePath.equal {
  stroke: #42a5f5;
}
.dagre .edgePath.equal marker {
  fill: #42a5f5;
  stroke: none;
}
.dagre .edgePath.potentially-equal {
  stroke: #64b5f6;
  stroke-dasharray: 4 2;
}
.dagre .edgePath.potentially-equal marker {
  fill: #64b5f6;
  stroke: none;
}
/* .dagre .node {
    cursor: pointer;
    display: block;
    position: static;
    margin: 0;
    white-space: normal;
    width: 200px;
    height: auto;
    text-align: center;
    color: #000;
  } */
.dagre .node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}
/* .dagre .node .node-label {
    white-space: normal;
    padding: 5px;
  }
  .dagre .node p {
    padding: 0px;
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    display: block;
  }
  .dagre .node h3 {
    padding: 0px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    display: block;
  } */
.dagre .node.group-map-node rect {
  stroke-width: 0px;
}
.dagre .node.argument-map-node rect {
  fill: cornflowerblue;
  stroke: black;
  stroke-width: 2px;
}
.dagre .node.argument-map-node text {
  fill: black;
}
.dagre .node.statement-map-node rect {
  fill: white;
  stroke: cornflowerblue;
  stroke-width: 3px;
}
.dagre .node.statement-map-node text {
  fill: black;
}
.dagre .node-label {
  text-align: center;
  width: 150px;
}
.dagre .node-label h3 {
  font-weight: normal;
}
