.DS_Store
.yarn
.vscode
.vscode-test
.vscode-test-web
node_modules
coverage


.nyc_output
.nx

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

.vscode
.parcel-cache
.cache
codebook.toml

.nx/cache
